*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body
{
    background-color: #f2edde;
}

/* header */

header
{
    display: flex;
    background-color: #0047ab;
    color: white;
    padding: 5px 0;
}

.FitHome a
{
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
}
.Fit-Home
{
    margin-left: 15px;
    font-size: 1.2em;
    color: white;
}
header nav
{
    position: absolute;
    right: 0px;
}
header nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
}
.NavPage
{
    color: #0047ab;
    margin-right: 15px;
    text-decoration: none;
    background-color: #f2edde;
    padding: 3px 15px;
}

/* footer */

footer
{
    background-color: #0047ab;
}
.FooterLink
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
}
.FooterLink a
{
    color: white;
}

/* index.php */

.mainHome
{
    background-color: #f2edde;
}
.Home_Rep
{
    position: absolute;
    color: #9c9c9c;
    margin: 17px;
}
.Home_Rep1
{
    color: #9c9c9c;
    text-decoration: none;
}
.TitleHome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}
.Block1_Home
{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;   
}
.Img1_Home
{
    box-shadow: -8px -8px 0px -1px #0047ab;
}
.InfoFitHome
{
    width: 400px;
    text-align: justify;
    margin-left: -200px;
    font-size: 17px;
}
.UserExp
{
    display: flex;
    justify-content: space-around;
    padding: 100px 0 50px 0;
}
.User1, .User2
{
    width: 350px;
}
.User1 p, .User2 p
{
    margin-top: 15px;
    text-align: justify;
}

/*coach.php*/
.textHome
{
    text-align: justify;
    margin: 0px 200px 0px 200px;
    font-size: 17px;
}
.Box_Coach{
    margin: 100px 150px 100px 150px;
    background-color: #ffffff;
}

.Tab_Coach{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.Tab_Coach tr td{
    padding: 0 5 em;
}
/* contact.php */

.ContactUs
{
    display: flex;
    justify-content: center;
    padding-top: 75px;
}
.mainSectionContact
{
    display: flex;
    align-items: center;
    margin: 50px 0; 
}
.formContact
{
    background-color: #d9d9d9;
    margin: 0 10% 0 15%; 
}
.inputName
{
    border: none;
    background-color: white;
    padding: 5px 15px;
    margin: 15px;
    font-size: 17px;
}
.input1contact
{
    display: flex;
    justify-content: space-around;
}
.input2contact
{
    display: flex;
    flex-direction: column;
}
#email
{
    border: none;
    background-color: white;
    padding: 5px 15px;
    font-size: 17px;
    margin: 0 15px;
}
#message
{
    border: none;
    background-color: white;
    padding: 5px 15px;
    font-size: 17px;
    margin: 15px;
}
.SubmitContact
{
    color: white;
    background-color: #0047ab;
    border: none;
    padding: 12px 22px;
    margin: 15px;
    cursor: pointer;
}
.MobileMailAdress
{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.MobileMailAdress img
{
    margin-right: 15px;
}
.iframeContact
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
/* payment.php */

.modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
  }
  
  .payment--options button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
  }
  
  .payment--options button svg {
    height: 18px;
  }
  
  .payment--options button:last-child svg {
    height: 22px;
  }
  
  .separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
  }
  
  .separator > p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
  }
  
  .credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
  }
  
  .split input {
    width: 100%;
  }
  
  .input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
  }

.footerPaymentBottom
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.Tab_Coach tr
{
    display: flex;
    margin: 30px 0 20px 0;
}
.Tab_Coach tr td
{
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_coach {
    --color: #0047ab;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 1.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    font-weight: 500;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
   }
   
   .name_coach:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .name_coach:hover {
    color: #fff;
   }
   
   .name_coach:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .name_coach:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .name_coach:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

   .LogOut
   {
        position:  absolute;
        top: 75px;  
        right: 40px;
        padding: 4px 15px;
        border: none;
        background-color: #0047ab;
        color: white;
        cursor: pointer;
        font-size: 17px;
   }
   .LogOut:hover
   {
    transition: 1s;
    background-color: white;
    color: #0047ab;
   }

   .ProfilPicDiv
   {
        display: flex;
        flex-direction: column;
        margin: 100px 0 0 10%;
   }
   .ProfilPicDiv h1
   {
        font-size: 2.4em;
        margin: 15px 0;
   }
   .ChangePic
   {
        margin-top: 20px;
        display: flex;
        align-items: center;
   }
   .ChangePic label
   {
        margin-right: 15px;
        color: rgb(55, 55, 55);
   }
   .mainMyProfile
   {
        display: flex;
   }
   .mainMyProfile form
   {
    display: flex;
    flex-direction: column;
   }
   .BrowsePic::file-selector-button
   {
    background-color: #0047ab;
    color: white;
    border: 1px solid white;
    padding: 2px 5px;
   }
   .BrowsePic::file-selector-button:hover
   {
    background-color: white;
    color: #0047ab;
    transition: 1s;
    cursor: pointer;
   }
   .PersonalInformation
   {
    margin: 150px 0 0 100px;
   }
   .PersonalInformation div
    {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
   }
   .PersonalInformation div label
   {
    font-size: 1.5rem;
    width: 200px;
   }
   .PersonalInformation div input
   {
    background-color: #f2edde;
    color: #8B8E98;
    border: 2px solid #8B8E98;
    font-size: 1.3rem;
    padding: 2px 5px;
    width: 300px;
   }
   .PersonalInformation div input:focus
   {
    background-color: white;
    outline: 2px solid #8B8E98;
   }
   .UpdatePersonalInformation
   {
    width: 110px;
    padding: 10px 0;
    background-color: #0047ab;
    color: white;
    border: none;
    cursor: pointer;
   }
   .UpdatePersonalInformation:hover
   {
    background-color: white;
    color: #0047ab;
    transition: 1s;
   }
   .SessionsFutur
   {
    background-color: #0047ab;
    color: white;
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
   }
   .SessionAl
   {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
   }
   .Sessions
   {
    margin: 15px 0 0 7%;
   }

